
/*  Reset  */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------SENATORS PAGE ----------------*/
body{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

@media only screen and (max-width: 500px){
    nav li{
      text-align:center;
      
    }

    h1{
        margin-top: 10%;
      
    }
      .container figure{
      width: 100%;
      height: 100%;
  
        display: flex;
        flex-wrap: wrap;
      
    }


    .container figcaption{
        width: 100%;
        font-size: 2rem;
    }
  }

  nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
   padding: 3%;
  }
  
  nav ul {
    list-style-type: none;
    padding-right: 3%;
  
   
  }
  
  nav ul li a{
    color: white;
    text-decoration: none;
    margin: 35px;
  
   
  }
  
  nav ul li a:hover{
    background-color:#111;
  
  }
  

  
  h1{
    padding-top:10%;
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4%;
    background: #81d8d0;
  }


  .container1{
    text-align: center;
    background: #81d8d0;
    padding: 4%;
    display: flex;
    justify-content: space-evenly;

  }

  h2{
      font-size: 2rem;
      padding-top: 4%;
    
  }

  p{
      font-size: 1.5rem;
      padding: 8%;
      width: 100%;
  }
  
  .container{
  padding-top: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
 
  figure{
      width: 250px;
      height: 450px;
  }

  img{
    width: 250px;
    height: 300px;
  }
  
  figcaption{
    padding-top: 6%;
    text-align: center;
    font-size: 1.5rem;
  }

  .numbers {
    background: #81d8d0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
  }
  
  .numbers p{
    width: 100%;
    padding-bottom: 0%;
  }
  